<div class="relative flex justify-content items-center rounded-lg shadow-lg" style="height: 100vh;">
    <div class=" w-full bg-white dark:bg-d-neutral-3-100 p-4 rounded max-w-prose shadow-lg border" style="margin-left: 30%;margin-right: 30%;">
      <div class="w-full">
        <div class="flex justify-end">
          <i class="tdsi-close-fill"></i>
        </div>
        <div class="text-heading-3 pb-12 text-center font-semibold font-sans ">Thêm tài khoản</div>
      </div>
      <form [formGroup]="signUpForm">
        <!-- <tds-label>Số điện thoại</tds-label>
        <tds-form-field class="w-full mt-2 mb-2">
          <input tdsInput autocomplete="off" placeholder="Nhập số điện thoại" formControlName="phoneNumber"
            [required]='true' class="appearance-none mb-2" />
          <tds-error>Số điện thoại không hợp lệ</tds-error>
        </tds-form-field> -->
        <tds-label class="pt-4 ">Email</tds-label>
        <tds-form-field class="w-full mt-2">
          <input tdsInput autocomplete="off" placeholder="Nhập email" formControlName="email" type="email"
            [required]='true' class="appearance-none" />
          <tds-error>
            <span *ngIf="signUpForm.controls['email'].hasError('required')">Vui lòng nhập email</span>
            <span *ngIf="signUpForm.controls['email'].hasError('email')">Email không hợp lệ</span>
          </tds-error>
        </tds-form-field>
        <tds-label class="pt-4">Tên</tds-label>
        <tds-form-field class="w-full mt-2">
          <input tdsInput autocomplete="off" placeholder="Nhập tài khoản" formControlName="taiKhoan" [required]='true'
            class="appearance-none" />
          <tds-error>Vui lòng nhập tài khoản</tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Job</tds-label>
        <tds-form-field>
          <tds-select valueField="id" textField="name" placeholder='select item'  [allowClear]="true"
                disabledField="isActive" [formControl]="persondisplayWith" [required]='true'
                [data]="contactOptions" [allowClear]="true">
            </tds-select>
          <tds-error>Validation message text</tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Mật khẩu</tds-label>
        <tds-form-field class="w-full mt-2">
          <input tdsInput autocomplete="off" placeholder="Nhập mật khẩu" formControlName="pass" type="password"
            [required]='true' />
          <tds-error>
            <span *ngIf="signUpForm.controls['pass'].hasError('required')">Vui lòng nhập mật khẩu</span>
            <span *ngIf="signUpForm.controls['pass'].hasError('pattern')">Mật khẩu ít nhất 8 kí tự, gồm chữ hoa, chữ
              thường, số và kí tự đặc biệt</span>
          </tds-error>
        </tds-form-field>
        <tds-label class="pt-4">Nhập lại mật khẩu</tds-label>
        <tds-form-field class="w-full mt-2">
          <input tdsInput autocomplete="off" placeholder="Xác nhận mật khẩu" formControlName="retype" type="password"
            [required]='true' />
          <tds-error>
            <span *ngIf="signUpForm.controls['retype'].hasError('required')">Vui lòng nhập lại mật khẩu</span>
            <!-- <span *ngIf="signUpForm.controls['retype'].hasError('pattern')">Mật khẩu không khớp</span> -->
            <span *ngIf="signUpForm.get('retype')?.errors?.['mustMatch']">Passwords do not match</span>
          </tds-error>
        </tds-form-field>
        <!-- <tds-checkbox [checked]="true" class="pt-5">Ghi nhớ mật khẩu</tds-checkbox> -->
        <div class="w-full flex flex-col justify-center mt-8">
          <button class="w-full mt-4" size="lg" tds-button type="submit" (click)="onSignUp()" [disabled]="signUpForm.valid"
            style="background-color: #1b7c20;">Đăng Kí
          </button>
        </div>
      </form>
    </div>
</div>
