<div class="rounded-10">
  <tds-table #table [listData]="listOfData" tableLayout="fixed">
    <thead>
      <tr>
        <th>Ngày</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Số điện thoại</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of table.data">
        <tr class="text-sm">
          <td>{{ data.appointmentDate | date : 'dd/MM/YYYY' }}</td>
          <td>{{ data.customer.firstName +" "+data.customer.lastName}}</td>
          <td>{{ !!data.customer.dateOfBirth ? data.customer.dateOfBirth:'---'}}</td>
          <td>{{ data.customer.phone }}</td>
          <td><tds-tag status='primary' type="outline">{{ data.status }}</tds-tag></td>
        </tr>
      </ng-container>
    </tbody>
  </tds-table>
</div>
