<!-- <div class="bg-gray-200 h-full">
  <tds-breadcrumb class="bg-white p-4 rounded-lg mb-2">
    <tds-breadcrumb-item><a [routerLink]="['/customer-list']">Khách Hàng</a></tds-breadcrumb-item>
    <tds-breadcrumb-item>{{customer.customerDTO.lastName}} {{customer.customerDTO.firstName}}</tds-breadcrumb-item>
  </tds-breadcrumb>

  <div class="bg-white p-4 rounded-lg" style="min-height: 589px;">
    <p class="text-4xl">{{customer.customerDTO.lastName}} {{customer.customerDTO.firstName}}</p>
    <div class="p-4">
      <p><i class="tdsi-call-fill text-success-400"></i> {{customer.customerDTO.phone}}</p>
      <p><i class="tdsi-birthday-fill text-success-400"></i> {{customer.customerDTO.dateOfBirth | date:'dd/MM/YYYY'}}
      </p>
      <p *ngIf="customer.customerDTO.gender === 'Nam'"><i class="tdsi-male-fill text-success-400"></i> Nam</p>
      <p *ngIf="customer.customerDTO.gender === 'Nữ'"><i class="tdsi-female-fill text-success-400"></i> Nữ</p>
    </div>
  </div>

  <div>
    <tds-data-table class="p-2" [tdsRounded]="true" [tdsShowPagination]="false" [tdsFrontPagination]="false"
      [tdsData]="customerOfPage" [tdsShowSizeChanger]="true" [tdsPageSize]="20" [tdsBordered]="true"
      (tdsClickRow)="customerDetail($event)">

      <tds-data-table-column [tdsField]="'customerCode'" [tdsTitle]="'Mã số'" tdsWidth="8%" [tdsDataType]="'text'">
      </tds-data-table-column>

      <tds-data-table-column [tdsField]="'lastName'" [tdsTitle]="'Họ'" tdsWidth="20%"
        [tdsDataType]="'text'"></tds-data-table-column>

      <tds-data-table-column [tdsField]="'firstName'" [tdsTitle]="'Tên'" tdsWidth="20%"
        [tdsDataType]="'text'"></tds-data-table-column>

      <tds-data-table-column [tdsField]="'gender'" [tdsTitle]="'Giới tính'" tdsWidth="10%"
        [tdsDataType]="'text'"></tds-data-table-column>

      <tds-data-table-column [tdsField]="'dateOfBirth'" [tdsTitle]="'Ngày sinh'" tdsWidth="9%" [tdsDataType]="'date'"
        [tdsFormat]="'dd/MM/YYYY'">
      </tds-data-table-column>

      <tds-data-table-column tdsWidth="9%" [tdsContent]="commandTpl" [tdsColumnType]="'command'">
        <ng-template #commandTpl let-dataRow>
          <div class="flex justify-around">
            <button tds-button-flat-icon color="custom" class="text-slate-500 hover:text-secondary-1"
              (click)="onEditCustomer(dataRow.customerID)">
              <i class="tdsi-edit-fill"></i>
            </button>
            <button tds-button-flat-icon color="custom" class="text-slate-500 hover:text-red-500"
              (click)="deleteCustomer(dataRow.customerID)">
              <i class="tdsi-trash-fill"></i>
            </button>
          </div>
        </ng-template>
      </tds-data-table-column>
    </tds-data-table>
  </div>
</div> -->
