<form class="py-2" id="idform" [formGroup]="form" autocomplete="off">
  <div class="flex flex-row">
    <div class="w-[50%]">
      <!-- Phone -->
      <div class="flex items-center justify-between">
        <tds-label>Số điện thoại</tds-label>
        <tds-form-field class="my-2 w-[70%]">
          <div class="flex">
            <input tdsInput autocomplete="off" placeholder="0123456789" class="appearance-none w-full"
              formControlName="phone" type="tel" />
          </div>
        </tds-form-field>
      </div>

      <!-- Full name -->
      <div class="flex items-center justify-between">
        <tds-label>Họ tên</tds-label>
        <div class="flex items-center w-[70%]">
          <tds-form-field class="w-full my-2">
            <input tdsInput autocomplete="off" formControlName="name" class="appearance-none w-full" type="text" />
          </tds-form-field>
          <button tds-button-icon tds-tooltip tooltipTitle="Hồ sơ" (click)="callModalUserProfile()"
            class="tdsi-user-fill tds-icon-size-xl bg-primary-1"></button>
        </div>
      </div>

      <!-- Doctor -->
      <div class="flex items-center justify-between">
        <tds-label>Bác sĩ</tds-label>
        <div class="flex items-center w-[70%]">
          <tds-form-field class="w-full my-2">
            <input tdsInput autocomplete="off" formControlName="doctor" class="appearance-none w-full" type="text" />
          </tds-form-field>
        </div>
      </div>

      <!-- Date & Time -->
      <div class="flex items-center justify-between">
        <tds-label>Thời gian</tds-label>
        <tds-form-field class="w-[70%] my-2">
          <input tdsInput autocomplete="off" formControlName="appointmentDate">
        </tds-form-field>
      </div>

      <!-- Status -->
      <div class="flex items-center justify-between">
        <tds-label>Trạng thái</tds-label>
        <tds-form-field class="w-[70%] my-2">
          <tds-select placeholder='---' [data]="statusOptions" formControlName="status">
          </tds-select>
        </tds-form-field>
      </div>
    </div>

    <div class="pl-4 w-[50%]">
      <tds-label>Lựa chọn dịch vụ</tds-label>
      <tds-form-field class="pt-2">
        <tds-select valueField="serviceID" formControlName="service" textField="serviceName" placeholder='select item'
          disabledField="isActive" [allowClear]="true" [required]="true" [data]="dataSvc" mode="multiple">
        </tds-select>
        <tds-error class="text-tds-color-red-500-light">Vui lòng chọn dịch vụ! </tds-error>
      </tds-form-field>
    </div>
  </div>
</form>

<ng-container *tdsModalFooter>
  <div class=" flex flex-row-reverse p-4">
    <button tds-button (click)="submitUpdateServiceAppointment()" form="idform" color="custom"
      class="w-[100px] bg-green-primary-2 px-4 py-2 text-white rounded hover:bg-green-1 transition-colors duration-300">
      Lưu
    </button>
  </div>
</ng-container>
