<form class="py-2" id="idform" [formGroup]="form" autocomplete="off">
      <!-- Status -->
      <div class="pl-4 ">
        <tds-label>Trạng thái</tds-label>
        <tds-form-field class="pt-2">
          <tds-select placeholder='---' [data]="statusOptions" formControlName="status">
          </tds-select>
        </tds-form-field>
      </div>
    <!-- </div> -->

    <div class="pl-4 ">
      <tds-label>Lựa chọn dịch vụ</tds-label>
      <tds-form-field class="pt-2">
        <tds-select valueField="serviceID" formControlName="service" textField="serviceName" placeholder='select item'
          disabledField="isActive" [allowClear]="true" [data]="dataSvc" mode="multiple">
        </tds-select>
        <tds-error class="text-tds-color-red-500-light">Vui lòng chọn dịch vụ! </tds-error>
      </tds-form-field>
    </div>
  <!-- </div> -->
</form>

<ng-container *tdsModalFooter>
  <div class=" flex flex-row-reverse p-4">
    <button tds-button (click)="submitUpdateServiceAppointment()" form="idform" color="success"
      class="w-[100px] px-4 py-2 text-white rounded">
      Lưu
    </button>
  </div>
</ng-container>
