<div class="pl-4">
  <div>
      <form class="py-2" [formGroup]="form" autocomplete="off">

        <tds-label>First Name</tds-label>

        <tds-form-field class="my-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Christine"
            formControlName="firstName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last name
          </tds-error>
        </tds-form-field>

        <tds-label>Last Name</tds-label>

        <tds-form-field class="my-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nguyen"
            formControlName="lastName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label>Email</tds-label>

        <tds-form-field class="my-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="abc@example.com"
            formControlName="email"
            type="email"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label>Phone Number</tds-label>

        <tds-form-field class="my-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="0123456789"
            class="appearance-none w-full"
            formControlName="phone"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label>Date of Birth</tds-label>

        <tds-form-field class="w-full my-2">
          <tds-date-picker  formControlName="dateOfBirth"></tds-date-picker>
          <tds-error>Please choose a date</tds-error>
        </tds-form-field>

        <tds-label>Gender</tds-label>

        <tds-radio-group class="my-2" tdsName="radioValue">
          <label>
            <input  type="radio" value="Male" formControlName="gender"/> Male
          </label>
          <label>
            <input  type="radio" value="Female" formControlName="gender"/> Female
          </label>
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-radio-group>

        <div class="justify-end flex p-4 " *tdsModalFooter>
          <button
            tds-button
            color="success"
            (click)="submit()"
            class="bg-green-500 px-4 py-2 text-white rounded hover:bg-green-600 transition-colors duration-300"
          >Submit</button>
          <button
            tds-button
            color="secondary"
            (click)="handleCancel()"
            class="bg-gray-500 px-4 py-2 text-white rounded hover:bg-gray-600 transition-colors duration-300 ml-4"
          >Cancel</button>
        </div>
      </form>
  </div>
</div>
