<form class="py-2" id="idform" [formGroup]="form" autocomplete="off">
  <div class="grid grid-cols-2 gap-12">
    <div class="col-span-1">
      <!-- Last Name -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Họ</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" placeholder="Christine" formControlName="firstName"
            class="appearance-none w-full" type="text" />
          <tds-error>
            <span>Your <strong>first name</strong> cannot be empty!</span>
          </tds-error>
        </tds-form-field>
      </div>

      <!-- First Name -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Tên</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" placeholder="Nguyen" formControlName="lastName"
            class="appearance-none w-full" type="text" />
          <tds-error>
            <span>Your <strong>last name</strong> cannot be empty!</span>
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Email -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Email</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" placeholder="abc@example.com" formControlName="email" type="email"
            class="appearance-none w-full" />
          <tds-error>
            <span>Your <strong>email</strong> is not in the correct
              format!</span>
          </tds-error>
        </tds-form-field>
      </div>
    </div>

    <div class="col-span-1">
      <!-- Phone -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Số điện thoại</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" placeholder="0123456789" class="appearance-none w-full"
            formControlName="phone" type="tel" />
          <tds-error>
            <span *ngIf="form.controls['phone'].hasError('required')">Your <strong>phone number</strong> cannot be
              empty!</span>
            <span *ngIf="form.controls['phone'].hasError('pattern')">Your <strong>phone number</strong> must start with
              0
              and have 10 digits!</span>
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Ngày sinh  -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Ngày sinh</tds-label>
          <tds-date-picker class="col-span-2" formControlName="dateOfBirth"></tds-date-picker>
      </div>

      <!-- Gender -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Giới tính</tds-label>
        <tds-radio-group class="col-span-2" formControlName="gender">
          <div>
            <label tds-radio value="Male">Nam</label>
            <label tds-radio value="Female">Nữ</label>
          </div>
        </tds-radio-group>
      </div>
    </div>
  </div>


</form>

<ng-container *tdsModalFooter>
  <div class="p-4 flex flex-row-reverse">
    <button tds-button form="idform" (click)="submit()" color="success" class="w-[100px] rounded">
      Lưu
    </button>
  </div>
</ng-container>
