<form class="py-2" id="idform" [formGroup]="form" autocomplete="off">
  <div class="grid grid-cols-2 gap-12">
    <div class="col-span-1">
      <!-- Phone -->
      <div *ngIf="!isHide1" class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Số điện thoại</tds-label>
        <div class="col-span-2 grid grid-cols-6 gap-1">
          <tds-form-field class="col-span-5">
            <tds-select [serverSearch]="true" valueField="customerID" textField="phone" autocomplete="off"
              placeholder="0123456789" class="appearance-none w-full" formControlName="customer" [data]="dataCustomer"
              [allowClear]="true" [valuePrimitive]="false" [allowSearch]="true" (onSearch)="searchPhone$.next($event)">
              <ng-template tds-option-tmp let-label='label' let-item="item" let-value='value' let-selected="selected">
                <span [ngClass]="{'text-primary-1':selected}">
                  {{item.firstName}} {{item.lastName}}
                </span>
              </ng-template>
            </tds-select>
            <!-- Display error -->
            <tds-error>
              <span *ngIf="form.controls['phone'].hasError('required')">Your <strong>phone number</strong> cannot be
                empty!</span>
              <span *ngIf="form.controls['phone'].hasError('pattern')">Your <strong>phone number</strong> must start
                with
                0
                and
                have 10
                digits!</span>
            </tds-error>
          </tds-form-field>
          <!-- New Customer -->
          <button tds-button-icon color="success" (click)="createCustomer(form.value.phone)"
            tds-tooltip="Thêm khách hàng">
            <i class="tdsi-plus-fill"></i>
          </button>
        </div>
      </div>
      <!--  -->
      <div *ngIf="!isHide2" class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Số điện thoại</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" formControlName="phone" class="appearance-none w-full" type="text" />
        </tds-form-field>
      </div>

      <!-- Full name -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Họ tên</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" formControlName="name" class="appearance-none w-full" type="text" />
        </tds-form-field>
      </div>

      <!-- Branch -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Chi nhánh</tds-label>
        <tds-form-field class="col-span-2">
          <input tdsInput autocomplete="off" formControlName="branch" class="appearance-none w-full" type="text" />
        </tds-form-field>
      </div>
    </div>

    <div class="col-span-1">
      <!-- Doctor -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Bác sĩ</tds-label>
        <tds-form-field class="col-span-2">
          <tds-select valueField="id" textField="name" placeholder='---' [data]="doctorOptions"
            formControlName="doctor">
          </tds-select>
        </tds-form-field>
      </div>

      <!-- Date & Time -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Thời gian</tds-label>
        <tds-form-field class="col-span-2">
          <tds-date-picker showTime [disabledDate]="disabledDate" [format]="'dd/MM/YYYY hh:mm'"
            formControlName="appointmentDate"></tds-date-picker>
          <tds-error>
            <span>Your <strong>date & time</strong> cannot be empty!</span>
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Status -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label [tdsRequired]="true">Trạng thái</tds-label>
        <tds-form-field class="col-span-2">
          <tds-select placeholder='---' [data]="statusOptions" formControlName="status">
          </tds-select>
        </tds-form-field>
      </div>
    </div>
  </div>
</form>

<ng-container *tdsModalFooter>
  <div class="p-4 flex flex-row-reverse">
    <button tds-button form="idform" (click)="submit()" color="success" class="w-[100px] rounded">
      Lưu
    </button>
  </div>
</ng-container>
