<div class="my-2 font-tds-font-family-body text-tds-font-size-4">
  <!-- <p><strong>Số điện thoại:</strong> {{inforCus.Customer.Phone}}</p> -->
  <p class="mb-2 grid grid-cols-10 gap-4">
    <strong>Khách hàng:</strong>
    <span class="col-span-9">{{ inforCus.Customer.FirstName }} {{ inforCus.Customer.LastName }}</span>
  </p>
  <p class="mb-2 grid grid-cols-10 gap-4">
    <strong>Ngày:</strong>
    <span class="col-span-9">{{
      inforCus.AppointmentDate | date : 'dd/MM/YYYY'
      }}</span>
  </p>
  <p class="mb-2 grid grid-cols-10 gap-4">
    <strong>Giờ:</strong>
    <span class="col-span-9">{{
      inforCus.AppointmentDate | date : 'HH:mm'
      }}</span>
  </p>
  <br />
  <tds-table #basicTable [listData]="service" [showPagination]="false" [noResult]="'Không sử dụng dịch vụ'">
    <thead>
      <tr>
        <th width="15%">ID</th>
        <th width="40%">Tên</th>
        <th width="15%">Đơn giá</th>
        <th width="15%">Giảm giá</th>
        <th width="15%">Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data">
        <tr>
          <td>{{ data.code }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.price | tdsFormatNumber }}</td>
          <td>
            <button class="border-none" color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu"
              [placement]="'bottomRight'">
              <p class="flex items-center">
                <i class="tdsi-cash-payment-fill text-success-400 text-2xl"></i>
                <span *ngIf="data.isPercentagePriceActive">{{ data.discount }}%</span>
                <span *ngIf="data.isVNDPriceActive">{{ data.discount | tdsFormatNumber }} VND</span>
              </p>
            </button>
            <tds-dropdown-menu #menu="tdsDropdownMenu">
              <div class="p-4">
                <p><strong>Giảm giá:</strong></p>
                <div class="flex">
                  <tds-form-field class="mr-2 w-52">
                    <tds-input-number *ngIf="data.isPercentagePriceActive" [min]="0" [max]="100" [step]="1"
                      [(ngModel)]="data.discount" (ngModelChange)="priceAfterDiscount(data.id)">
                    </tds-input-number>
                    <tds-input-number *ngIf="data.isVNDPriceActive" [min]="0" [max]="data.price" [step]="1"
                      [(ngModel)]="data.discount" (ngModelChange)="priceAfterDiscount(data.id)">
                    </tds-input-number>
                  </tds-form-field>
                  <tds-button-group>
                    <button *ngIf="data.isPercentagePriceActive" tds-button color="success" size="sm">
                      <span>%</span>
                    </button>
                    <button *ngIf="data.isPercentagePriceInactive" tds-button-outline color="success" size="sm"
                      (tdsBtnClick)="activeDiscountPercentagePrice(data.id)">
                      <span>%</span>
                    </button>
                    <button *ngIf="data.isVNDPriceActive" tds-button color="success" size="sm">
                      <span>VND</span>
                    </button>
                    <button *ngIf="data.isVNDPriceInactive" tds-button-outline color="success" size="sm"
                      (tdsBtnClick)="activeDiscountVNDPrice(data.id)">
                      <span>VND</span>
                    </button>
                  </tds-button-group>
                </div>
              </div>
            </tds-dropdown-menu>
          </td>
          <td>{{ data.finalPrice | tdsFormatNumber }}</td>
        </tr>
      </ng-template>
    </tbody>
  </tds-table>

  <div *ngIf="inforCus.Status !== 'Không sử dụng dịch vụ'">
    <!-- Total -->
    <p class="pt-2 grid grid-cols-10 gap-4">
      <strong>Tổng tiền:</strong> <span class="col-span-9">{{ total | tdsFormatNumber }}</span>
    </p>

    <!-- Discount -->
    <div class="py-2 grid grid-cols-10 gap-2">
      <p><strong>Giảm giá:</strong></p>
      <div class="col-span-9 flex">
        <tds-form-field class="mr-2 w-[150px]">
          <tds-input-number *ngIf="isPercentageActive" [min]="0" [max]="100" [step]="1" [(ngModel)]="discountPercentage"
            (ngModelChange)="totalAmountAfterDiscount()">
          </tds-input-number>
          <tds-input-number *ngIf="isVNDActive" [min]="0" [max]="total" [step]="1" [(ngModel)]="discountVND"
            (ngModelChange)="totalAmountAfterDiscount()">
          </tds-input-number>
        </tds-form-field>
        <tds-button-group>
          <button *ngIf="isPercentageActive" tds-button color="success" size="sm">
            <span>%</span>
          </button>
          <button *ngIf="isPercentageInactive" tds-button-outline color="success" size="sm"
            (tdsBtnClick)="activeDiscountPercentage()">
            <span>%</span>
          </button>
          <button *ngIf="isVNDActive" tds-button color="success" size="sm">
            <span>VND</span>
          </button>
          <button *ngIf="isVNDInactive" tds-button-outline color="success" size="sm"
            (tdsBtnClick)="activeDiscountVND()">
            <span>VND</span>
          </button>
        </tds-button-group>
      </div>
    </div>

    <!-- Final Total -->
    <p class="pt-2 grid grid-cols-10 gap-2">
      <strong>Thành tiền:</strong>
      <span class="col-span-9">{{ totalAmount | tdsFormatNumber }}</span>
    </p>
  </div>
</div>

<ng-container *tdsModalFooter>
  <div class="p-4">
    <button tds-button form="idform" (click)="submit()" color="success" class="w-full rounded">
      Thanh Toán
    </button>
    <!-- <button tds-button (click)="invoice()">In hóa đơn</button> -->
  </div>
</ng-container>
