<form id="treatmentForm" [formGroup]="treatmentForm" autocomplete="off" class="w-full">
    <!--  -->
    <div>
      <tds-form-field class="pt-2 pb-4">
        <tds-label>Ghi chú</tds-label>
        <textarea tdsInput [tdsAutosize]="{ minRows: 1,  maxRows: 20}" formControlName="note" placeholder='Ghi chú'>
      </textarea>
      </tds-form-field>
    </div>
  <!-- -->
  <div class="flex-1">
    <tds-form-field class="py-2">
      <tds-label>Dịch vụ</tds-label>
      <input aria-colspan="" class="placeholder-neutral-1-400" placeholder="Search..." tdsInput [(ngModel)]="inputValue"
        [ngModelOptions]="{standalone:true}" (input)="onChangeAutocomplete($event)" [tdsAutocomplete]="auto" [tdsInputDebounce]="300"/>
      <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill text-base"></i></span>
      <span tdsSuffix (click)="onClearAll($event)">
        <i class="tdsi-close-fill text-neutral-1-500 text-base" *ngIf="inputValue && inputValue !== ''">
        </i>
      </span>
    </tds-form-field>

    <tds-autocomplete #auto (selectionChange)="getValueFromSelect($event)">
      <tds-auto-option *ngFor="let option of listSearch" [label]="option.serviceName" [value]="option">
        <div class="flex w-full justify-between items-center">
          {{ option.serviceName }}
        </div>
      </tds-auto-option>
    </tds-autocomplete>
  </div>
  <!--  -->

  <tds-table class="text-sm" [hideOnSinglePage]="true" #basicTable [listData]="listOfData">
    <thead>
      <tr>
        <th width="26%">Tên dịch vụ</th>
        <th width="11%">Số lượng</th>
        <th width="15%">Giá gốc</th>
        <th width="19%">Giảm giá</th>
        <th width="15%">Thành tiền</th>
        <th width="14%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data" let-index="index">
        <tr>
          <td>{{ data.serviceName }}</td>
          <td>
            <div>
              <tds-input-number [max]="99" class="pr-2" [tdsTextAlign]="'center'" [hiddenIcon]="true" [min]="1"
                [ngModelOptions]="{standalone:true}" [(ngModel)]="data.quantity"
                (ngModelChange)="price(data.serviceID)">
              </tds-input-number>
            </div>
          </td>
          <td>{{ data.unitPrice | tdsFormatNumber}}</td>
          <td>
            <div>
              <button class="border-none" color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu">
                <p class="flex items-center">
                  <i class="tdsi-cash-payment-fill text-success-400 text-2xl pr-1"></i>
                  <span *ngIf="data.kindofDiscount === '%'">{{ data.amountDiscount }}%</span>
                  <span *ngIf="data.kindofDiscount === 'VND'">{{ data.amountDiscount | tdsFormatNumber }} VND</span>
                </p>
              </button>
              <tds-dropdown-menu #menu="tdsDropdownMenu">
                <div class="p-4">
                  <p class="pb-2"><strong>Giảm giá:</strong></p>
                  <div class="flex">
                    <tds-form-field class="mr-2 w-36">
                      <tds-input-number *ngIf="data.kindofDiscount === '%'" class="pr-2" [tdsTextAlign]="'right'"
                        [hiddenIcon]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="data.amountDiscount"
                        [ngModelOptions]="{standalone:true}" (ngModelChange)="priceAfterDiscount(data.serviceID)">
                      </tds-input-number>
                      <tds-input-number *ngIf="data.kindofDiscount === 'VND'" class="pr-2" [tdsTextAlign]="'right'"
                        [hiddenIcon]="true" [min]="0" [max]="data.tempPrice" [step]="1"
                        [ngModelOptions]="{standalone:true}" [(ngModel)]="data.amountDiscount"
                        (ngModelChange)="priceAfterDiscount(data.serviceID)">
                      </tds-input-number>
                    </tds-form-field>
                    <tds-button-group>
                      <button *ngIf="data.kindofDiscount === '%'" tds-button color="success" size="sm">
                        <span>%</span>
                      </button>
                      <button *ngIf="data.kindofDiscount !== '%'" tds-button-outline color="success" size="sm"
                        (tdsBtnClick)="activeDiscountPercentagePrice(data.serviceID)">
                        <span>%</span>
                      </button>
                      <button *ngIf="data.kindofDiscount === 'VND'" tds-button color="success" size="sm">
                        <span>VND</span>
                      </button>
                      <button *ngIf="data.kindofDiscount !== 'VND'" tds-button-outline color="success" size="sm"
                        (tdsBtnClick)="activeDiscountVNDPrice(data.serviceID)">
                        <span>VND</span>
                      </button>
                    </tds-button-group>
                  </div>
                </div>
              </tds-dropdown-menu>
            </div>
          </td>
          <td>{{ data.totalPrice | tdsFormatNumber}}</td>
          <td>
            <button tds-button-flat-icon color="custom" class="text-slate-500 hover:text-red-500" (click)="delete(index)">
              <i class="tdsi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </tds-table>
  <div class="text-sm flex justify-end p-4">
    <span class="flex flex-row">
      <h2 class="font-bold mr-2">Tổng tiền: </h2>
      <p class="text-tds-font-size-5 text-base-lime-600">{{ total | tdsFormatNumber}}</p>
    </span>
  </div>
</form>

<ng-container *tdsModalFooter>
  <div class="flex flex-row-reverse p-4">
    <button tds-button form="treatmentForm" color="success" class="w-[100px] px-4 py-2 text-white rounded" (click)="enter()">
      Lưu
    </button>
  </div>
</ng-container>
