<form id="treatmentForm" [formGroup]="treatmentForm" autocomplete="off" class="w-full">
  <!--  -->
  <div>
    <tds-form-field class="pt-2 pb-4">
      <tds-label>Ghi chú</tds-label>
      <textarea tdsInput [tdsAutosize]="{ minRows: 1,  maxRows: 20}" formControlName="note" placeholder='Ghi chú'>
      </textarea>
    </tds-form-field>
  </div>
  <!-- -->
  <div class="flex-1">
    <tds-form-field class="py-2">
      <tds-label>Dịch vụ</tds-label>
      <input aria-colspan="" class="placeholder-neutral-1-400" placeholder="Search..." tdsInput [(ngModel)]="inputValue"
        [ngModelOptions]="{standalone:true}" (input)="onChangeAutocomplete($event)" [tdsAutocomplete]="auto">
      <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill text-base"></i></span>
    </tds-form-field>

    <tds-autocomplete #auto (selectionChange)="addItem($event.value)">
      <tds-auto-option *ngFor="let option of listSearch" [label]="option.serviceName" [value]="option">
        <div class="flex w-full justify-between items-center">
          {{ option.serviceName }}
        </div>
      </tds-auto-option>
    </tds-autocomplete>
  </div>
  <!--  -->

  <tds-table class="text-sm" templateMode>
    <thead>
      <tr>
        <th width="26%">Tên dịch vụ</th>
        <th width="11%">Số lượng</th>
        <th width="15%">Giá gốc</th>
        <th width="19%">Giảm giá</th>
        <th width="15%">Thành tiền</th>
        <th width="14%">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="treatmentDetailDTOs" *ngIf="treatmentDetailDTOs.value.length">
        <tr *ngFor="let lessonForm of treatmentDetailDTOs.controls; let i = index" [formGroupName]="i">
          <td>{{lessonForm.value.serviceName}}</td>
          <td>
            <tds-form-field class="w-full">
              <tds-input-number formControlName="quantity" [decimal]="'never'" [step]="1" [min]="0"
                [placeholder]="'never'" (ngModelChange)="price(lessonForm.value.serviceID)"></tds-input-number >
            </tds-form-field>
          </td>
          <td>
            {{lessonForm.value.unitPrice}}
          </td>
          <td>
            <div class="w-full">
              <button class="border-none" color="secondary" tds-dropdown trigger="click" [tdsDropdownMenu]="menu">
                <p class="flex items-center">
                  <i class="tdsi-cash-payment-fill text-success-400 text-2xl pr-1"></i>
                  <span *ngIf="lessonForm.value.kindofDiscount === '%'">{{ lessonForm.value.amountDiscount }}%</span>
                  <span *ngIf="lessonForm.value.kindofDiscount === 'VND'">{{ lessonForm.value.amountDiscount | tdsFormatNumber }} VND</span>
                </p>
              </button>
              <tds-dropdown-menu #menu="tdsDropdownMenu">
                <div class="p-4">
                  <p class="pb-2"><strong>Giảm giá:</strong></p>
                  <div class="flex">
                    <tds-form-field class="mr-2 w-36">
                      <tds-input-number *ngIf="lessonForm.value.kindofDiscount  === '%'" class="pr-2"
                        [tdsTextAlign]="'right'" [hiddenIcon]="true" [min]="0" [max]="100" [step]="1"
                        formControlName="amountDiscount"
                        (ngModelChange)="priceAfterDiscount(lessonForm.value.serviceID)">
                      </tds-input-number>
                      <tds-input-number *ngIf="lessonForm.value.kindofDiscount  === 'VND'" class="pr-2"
                        [tdsTextAlign]="'right'" [hiddenIcon]="true" [min]="0" [max]="lessonForm.value.tempPrice" [step]="1"
                        formControlName="amountDiscount"
                        (ngModelChange)="priceAfterDiscount(lessonForm.value.serviceID)">
                      </tds-input-number>
                    </tds-form-field>
                    <tds-button-group >
                      <button  *ngIf="lessonForm.value.kindofDiscount === '%'" tds-button color="success" size="sm">
                        <span>%</span>
                      </button>
                      <button tds-button-outline *ngIf="lessonForm.value.kindofDiscount  !== '%'" color="success"
                        size="sm" (tdsBtnClick)="updateTypeDiscount(i, '%')">
                        <span>%</span>
                      </button>
                      <button *ngIf="lessonForm.value.kindofDiscount === 'VND'" tds-button color="success" size="sm">
                        <span>VND</span>
                      </button>
                      <button tds-button-outline *ngIf="lessonForm.value.kindofDiscount !== 'VND'" color="success" size="sm"
                        (tdsBtnClick)="updateTypeDiscount(i, 'VND')">
                        <span>VND</span>
                      </button>
                    </tds-button-group>
                  </div>
                </div>
              </tds-dropdown-menu>
            </div>
          </td>
          <td>{{lessonForm.value.price}}</td>
          <td><button tds-button-icon class="tdsi-trash-fill" (click)="delete(i)"></button></td>
        </tr>
      </ng-container>
    </tbody>
  </tds-table>
  <div class="text-sm flex justify-end p-4">
    <span class="flex flex-row">
      <h2 class="font-bold mr-2">Tổng tiền: </h2>
      <p class="text-tds-font-size-5 text-base-lime-600">{{ total | tdsFormatNumber}}</p>
    </span>
  </div>
</form>

<ng-container *tdsModalFooter>
  <div class="flex flex-row-reverse p-4">
    <button tds-button form="treatmentForm" color="success" class="w-[100px] px-4 py-2 text-white rounded"
      (click)="enter()">
      Lưu
    </button>
  </div>
</ng-container>
