<div class="flex items-center shadow-lg" style="height: 100vh;background-color: #CBDFC8;">
  <div class="container w-full flex justify-between column items-center bg-white rounded shadow-lg" style="margin: 16% 20%;">
    <div class="w-full h-full p-4 rounded text-white" style="background-color: #97C59E;">
      <h4 class="mb-6 mt-6 title-login text-center" style="color: #1b561e;">LOTUS SPA</h4>
      <img src="../../assets/img/imgspa.jpg" alt="Spa Image" style="width: fit-content;">
    </div>

    <!-- Form đăng nhập -->

    <div class="w-full bg-white p-4 rounded max-w-prose">
      <div class="text-heading-3 mb-6 text-center font-semibold sign-in-font-login " style="font-size: x-large; color: #1b7c20;">Đăng nhập</div>
        <form [formGroup]="loginForm">
        <tds-label><span style="color: rgb(53, 53, 53);">Tài khoản</span></tds-label>
        <tds-form-field class="w-full mt-2 mb-6">
          <input tdsInput autocomplete="off" type="email" placeholder="abc@example.com"
          formControlName="taiKhoan" [required]='true' />
          <tds-error>Vui lòng nhập tài khoản</tds-error>
        </tds-form-field>

        <tds-label><span style="color: rgb(53, 53, 53);">Mật khẩu</span></tds-label>
        <tds-form-field class="w-full mt-2">
          <input tdsInput placeholder="Password" type="password" autocomplete="new-password"
            formControlName="matKhau" [required]='true' />
          <tds-error>Vui lòng nhập mật khẩu</tds-error>
        </tds-form-field>

        <tds-checkbox class="mt-6 mb-6" [checked]="false"><span style="color: rgb(53, 53, 53);">Nhớ mật khẩu</span></tds-checkbox>
        <div class="w-full flex flex-col justify-center mt-8">
          <button class="sign-in-font-button-login" size="lg" tds-button type="submit" (click)="onLogin()" [disabled]="!loginForm.valid"
            style="background-color:#1b7c20;">Đăng nhập</button>
        </div>
      </form>
      <div class="text-center text-red-500 mt-4" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </div>
</div>
