@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@300..900&family=Shrikhand&display=swap');

.title-login {
  font-size: xx-large;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.sign-in-font-login {
  font-size: large;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.sign-in-font-button-login {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
