<form [formGroup]="createUser" id="registerUser" autocomplete="off">
  <!-- model register -->
  <div class="grid grid-cols-2 gap-12">
    <div>
      <div class="grid grid-cols-3 gap-1 my-2" *ngIf="checkDislay === true">
        <!-- Chuc Vu -->
        <tds-label>Chức vụ</tds-label>
        <tds-form-field class="col-span-2">
          <tds-select
            valueField="id"
            textField="name"
            placeholder="Lựa chọn chức vụ"
            disabledField="isActive"
            formControlName="role"
            [required]="true"
            [data]="roleOptions"
            class="appearance-none"
          >
          </tds-select>
          <tds-error>
            <span
              *ngIf="
                createUser.controls['role'].touched &&
                createUser.controls['role'].hasError('required')
              "
              >Vui lòng chọn chức vụ</span
            >
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Last Name -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Họ</tds-label>
        <tds-form-field class="col-span-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nhập họ"
            formControlName="lastName"
            [required]="true"
            class="appearance-none"
          />
          <tds-error>
            <span
              *ngIf="
                createUser.controls['lastName'].touched &&
                createUser.controls['lastName'].hasError('required')
              "
              >Vui lòng nhập họ</span
            >
          </tds-error>
        </tds-form-field>
      </div>

      <!-- First Name -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Tên</tds-label>
        <tds-form-field class="col-span-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nhập tên"
            formControlName="firstName"
            [required]="true"
            class="appearance-none"
          />
          <tds-error>
            <span
              *ngIf="
                createUser.controls['firstName'].touched &&
                createUser.controls['firstName'].hasError('required')
              "
              >Vui lòng nhập tên</span
            >
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Email -->
      <div class="grid grid-cols-3 gap-1 my-2" *ngIf="checkDislay === true">
        <tds-label>Email</tds-label>
        <tds-form-field class="col-span-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nhập email"
            formControlName="email"
            type="email"
            [required]="true"
            class="appearance-none"
          />
          <tds-error>
            <span
              *ngIf="
                createUser.controls['email'].touched &&
                createUser.controls['email'].hasError('required')
              "
              >Vui lòng nhập email</span
            >
            <span
              *ngIf="
                createUser.controls['email'].touched &&
                createUser.controls['email'].hasError('email')
              "
              >Email không hợp lệ</span
            >
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Phone -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Số điện thoại</tds-label>
        <tds-form-field class="col-span-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nhập số điện thoại"
            formControlName="phone"
            [required]="true"
            class="appearance-none"
          />
          <tds-error>
            <span *ngIf="createUser.controls['phone'].hasError('required')"
              >Vui lòng nhập số điện thoại</span
            >
            <span *ngIf="createUser.controls['phone'].hasError('pattern')"
              >Số điện thoại phải có đủ 10 số và bắt đầu bằng 0</span
            >
          </tds-error>
        </tds-form-field>
      </div>
    </div>

    <div>
      <!--  -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Giới tính</tds-label>
        <tds-radio-group class="col-span-2" formControlName="gender">
          <div>
            <label tds-radio value="Nam">Nam</label>
            <label tds-radio value="Nữ">Nữ</label>
          </div>
        </tds-radio-group>
        <!-- <tds-form-field class="col-span-2">
          <tds-select
            valueField="id"
            textField="name"
            placeholder="Lựa chọn giới tính"
            disabledField="isActive"
            formControlName="gender"
            [required]="true"
            [data]="genderOptions"
            [allowClear]="true"
            class="appearance-none"
          >
          </tds-select>
          <tds-error>
            <span
              *ngIf="
                createUser.controls['gender'].touched &&
                createUser.controls['gender'].hasError('required')
              "
              >Vui lòng chọn giới tính</span
            >
          </tds-error>
        </tds-form-field> -->
      </div>

      <!--  -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Ngày sinh</tds-label>
        <tds-form-field class="col-span-2">
          <tds-date-picker
            formControlName="dateOfBirth"
            [required]="true"
            [allowClear]="true"
          ></tds-date-picker>
          <tds-error>
            <span
              *ngIf="
                createUser.controls['dateOfBirth'].touched &&
                createUser.controls['dateOfBirth'].hasError('required')
              "
            >
              Vui lòng chọn ngày sinh
            </span>
          </tds-error>
        </tds-form-field>
      </div>

      <div
        *ngIf="
          this.createUser.value.role === 'Employee' || this.role === 'Employee'
        "
      >
        <!--  -->
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Ngày bắt đầu làm việc</tds-label>
          <tds-form-field class="col-span-2">
            <tds-date-picker
              formControlName="hireDate"
              [required]="true"
              [allowClear]="true"
            ></tds-date-picker>
            <tds-error>
              <span *ngIf="createUser.controls['hireDate'].touched">
                Vui lòng chọn ngày bắt đầu làm việc
              </span>
            </tds-error>
          </tds-form-field>
        </div>

        <!--  -->
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Loại công việc</tds-label>
          <tds-form-field class="col-span-2">
            <tds-select
              [required]="true"
              valueField="id"
              textField="name"
              placeholder="Lựa chọn công việc"
              disabledField="isActive"
              formControlName="jobTypeID"
              [data]="jobTypeOptions"
              [allowClear]="true"
              class="appearance-none"
            >
            </tds-select>
            <tds-error>
              <span *ngIf="createUser.controls['jobTypeID'].touched"
                >Vui lòng chọn công việc</span
              >
            </tds-error>
          </tds-form-field>
        </div>

        <!--  -->
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Chi nhánh</tds-label>
          <tds-form-field class="col-span-2">
            <tds-select
              [required]="true"
              valueField="id"
              textField="name"
              placeholder="Lựa chọn chi nhánh"
              disabledField="isActive"
              formControlName="branchID"
              [data]="branchOptions"
              [allowClear]="true"
              class="appearance-none"
            >
            </tds-select>
            <tds-error>
              <span *ngIf="createUser.controls['branchID'].touched"
                >Vui lòng chọn chi nhánh</span
              >
            </tds-error>
          </tds-form-field>
        </div>
      </div>

      <!-- Password -->
      <div
        *ngIf="this.createUser.value.role === 'Admin' || this.isActive === true"
      >
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Mật khẩu</tds-label>
          <tds-form-field class="col-span-2">
            <input
              [required]="true"
              tdsInput
              autocomplete="off"
              placeholder="Nhập mật khẩu"
              formControlName="password"
              type="password"
            />
            <tds-error>
              <span
                *ngIf="
                  createUser.controls['password'].touched &&
                  this.createUser.value.role === 'Admin'
                "
                >Vui lòng nhập mật khẩu</span
              >
              <span
                *ngIf="
                  createUser.controls['password'].touched &&
                  createUser.controls['password'].hasError('pattern')
                "
                >Mật khẩu ít nhất 8 kí tự, gồm chữ hoa, chữ thường, số và kí tự
                đặc biệt</span
              >
            </tds-error>
          </tds-form-field>
        </div>

        <!-- Nhap lai Mat khau -->
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Nhập lại mật khẩu</tds-label>
          <tds-form-field class="col-span-2">
            <input
              [required]="true"
              tdsInput
              autocomplete="off"
              placeholder="Xác nhận mật khẩu"
              formControlName="confirmPassword"
              type="password"
            />
            <tds-error>
              <span *ngIf="createUser.controls['confirmPassword'].touched"
                >Vui lòng nhập mật khẩu</span
              >
              <span
                *ngIf="createUser.get('confirmPassword')?.errors?.['mustMatch'] && createUser.controls['confirmPassword'].touched"
                >Mật khẩu không khớp</span
              >
            </tds-error>
          </tds-form-field>
        </div>
      </div>
    </div>
  </div>
  <!-- Kết thúc mã modal register -->
</form>

<ng-container *tdsModalFooter>
  <div class="p-4">
    <div class="w-full flex flex-col justify-center mt-8">
      <button
        class="w-full mt-4"
        size="lg"
        tds-button
        type="submit"
        (click)="submit()"
        form="registerUser"
        style="background-color: #1b7c20"
      >
        Xác nhận
      </button>
    </div>
  </div>
</ng-container>
