<!-- Modal create new service -->
<form [formGroup]="modalServiceForm" id="formService" autocomplete="off">
  <tds-label [tdsRequired]="true" class="pt-4">Tên dịch vụ</tds-label>
  <tds-form-field class="w-full mt-2">
    <input tdsInput autocomplete="off" placeholder="Nhập tên dịch vụ" formControlName="serviceName" class="appearance-none" />
    <tds-error>
      <span><strong>Tên dịch vụ</strong> không được để trống!</span>
    </tds-error>
  </tds-form-field>


  <tds-label class="pt-4">Mô tả</tds-label>
  <tds-form-field class="w-full mt-2">
    <textarea tdsInput autocomplete="off" formControlName="description" placeholder="Mô tả dịch vụ"
      [tdsAutosize]="{ minRows: 3,  maxRows: 6}"></textarea>
  </tds-form-field>


  <tds-label tdsRequired="true" class="pt-4">Giá</tds-label>
  <tds-form-field class="w-full mt-2">
    <input tdsInput autocomplete="off" placeholder="0" formControlName="price"
      type="number" class="appearance-none" min="0">
    <tds-error>
      <span *ngIf=" modalServiceForm.controls['price'].hasError('required')"><strong>Giá dịch vụ</strong> không được để trống!</span>
      <span *ngIf="modalServiceForm.controls['price'].hasError('min')"><strong>Giá dịch vụ</strong> không hợp lệ!</span>
    </tds-error>
  </tds-form-field>
</form>
<ng-container *tdsModalFooter>
  <div class="flex flex-row-reverse p-4">
    <div class="w-[100px] flex flex-col justify-center">
      <button tds-button form="idform" (click)="btnSubmitService()" color="success" class="w-full rounded">
        Chấp Nhận
      </button>
    </div>
  </div>
</ng-container>
<!-- Kết thúc model create new service -->
