<tds-header [tdsTheme]="'light'" urlAvatar="https://randomuser.me/api/portraits/women/68.jpg"
  class="flex w-full rounded-bl-lg">
  <div class="inline-flex tds-header-toolbar-right items-center">
    <button tds-button-icon color="primary" (click)="showModal()" routerLinkActive="router-link-active" tds-tooltip
      tooltipTitle="Thêm tài khoản" class="rounded-full mr-2 bg-green-1">
      <span class="flex items-center">
        <i class="tdsi-plus-fill text-white"></i>
      </span>
      <tds-modal centered [(visible)]="isVisible" title="Thêm tài khoản" (onCancel)="handleCancel()"
        (onOk)="onSignUp" [okDisabled]="!signUpForm.valid">
        <ng-container *tdsModalContent>
            <form [formGroup]="signUpForm">
              <tds-label class="pt-4 ">Email</tds-label>
              <tds-form-field class="w-full mt-2">
                <input tdsInput autocomplete="off" placeholder="Nhập email" formControlName="email" type="email"
                  [required]='true' class="appearance-none" />
                <tds-error>
                  <span *ngIf="signUpForm.controls['email'].hasError('required')">Vui lòng nhập email</span>
                  <span *ngIf="signUpForm.controls['email'].hasError('email')">Email không hợp lệ</span>
                </tds-error>
              </tds-form-field>
              <tds-label class="pt-4">Tên</tds-label>
              <tds-form-field class="w-full mt-2">
                <input tdsInput autocomplete="off" placeholder="Nhập tài khoản" formControlName="taiKhoan"
                  [required]='true' class="appearance-none" />
                <tds-error>Vui lòng nhập tài khoản</tds-error>
              </tds-form-field>
              <tds-label class="pt-4">Mật khẩu</tds-label>
              <tds-form-field class="w-full mt-2">
                <input tdsInput autocomplete="off" placeholder="Nhập mật khẩu" formControlName="pass" type="password"
                  [required]='true' />
                <tds-error>
                  <span *ngIf="signUpForm.controls['pass'].hasError('required')">Vui lòng nhập mật khẩu</span>
                  <span *ngIf="signUpForm.controls['pass'].hasError('pattern')">Mật khẩu ít nhất 8 kí tự, gồm chữ hoa,
                    chữ
                    thường, số và kí tự đặc biệt</span>
                </tds-error>
              </tds-form-field>
              <tds-label class="pt-4">Nhập lại mật khẩu</tds-label>
              <tds-form-field class="w-full mt-2">
                <input tdsInput autocomplete="off" placeholder="Xác nhận mật khẩu" formControlName="retype"
                  type="password" [required]='true' />
                <tds-error>
                  <span *ngIf="signUpForm.controls['retype'].hasError('required')">Vui lòng nhập lại mật khẩu</span>
                  <span *ngIf="signUpForm.controls['retype'].hasError('pattern')">Mật khẩu không khớp</span>
                </tds-error>
              </tds-form-field>
              <!-- <tds-checkbox [checked]="true" class="pt-5">Ghi nhớ mật khẩu</tds-checkbox> -->
              <!-- <div class="w-full flex flex-col justify-center mt-8">
                <button class="w-full mt-4" size="lg" tds-button type="submit" (click)="onSignUp()"
                  [disabled]="signUpForm.valid" style="background-color: #1b7c20;">Đăng Kí
                </button>
              </div> -->
            </form>
        </ng-container>
      </tds-modal>
    </button>
    <button tds-button-flat-icon size="md" class="mr-2">
      <span class="flex items-center">
        <i class="tdsi-info-line text-primary-1"></i>
      </span>
    </button>
    <button tds-button-flat-icon size="md" class="mr-2">
      <span class="flex items-center">
        <i class="tdsi-notification-line text-primary-1"></i>
      </span>
    </button>
    <button tds-button-flat-icon size="md">
      <span class="flex items-center">
        <i class="tdsi-full-screen-line"></i>
      </span>
    </button>
  </div>
  <tds-form-field class="w-full" tdsClass="dark:!border-transpanent">
    <input tdsInput class="text-d-neutral-1-600" placeholder="search.." autocomplete="off" />
    <span tdsPrefix class="bg-transparent"><i class="text-d-neutral-1-600 tdsi-search-fill"></i></span>
  </tds-form-field>
  <tds-select class='w-40' classIcon="tdsi-arrow-down-fill text-d-neutral-1-300" [border]='false' valueField="id"
    textField="name" [data]="contactOptions" [(ngModel)]="contact">
    <ng-template tds-label-tmp let-item="item">
      <span class="text-d-neutral-1-300">{{item.data.name}}</span>
    </ng-template>
  </tds-select>
</tds-header>
