<form [formGroup]="createAccount" id="registerAccount" autocomplete="off">
  <!-- model register -->
  <div class="grid grid-cols-2 gap-12">
    <div>
      <!-- UserName -->
      <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Tên đăng nhập</tds-label>
        <tds-form-field class="col-span-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nhập tài khoản"
            formControlName="userName"
            type="text"
            [required]="true"
            class="appearance-none"
          />
          <tds-error>
            <span
              *ngIf="
                createAccount.controls['userName'].touched &&
                createAccount.controls['userName'].hasError('required')
              "
              >Vui lòng nhập email</span
            >
          </tds-error>
        </tds-form-field>
      </div>

      <!-- Password -->
      <div>
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Mật khẩu</tds-label>
          <tds-form-field class="col-span-2">
            <input
              [required]="true"
              tdsInput
              autocomplete="off"
              placeholder="Nhập mật khẩu"
              formControlName="password"
              type="password"
            />
            <tds-error>
              <span *ngIf="createAccount.controls['password'].touched"
                >Vui lòng nhập mật khẩu</span
              >
              <span
                *ngIf="
                  createAccount.controls['password'].touched &&
                  createAccount.controls['password'].hasError('pattern')
                "
                >Mật khẩu ít nhất 8 kí tự, gồm chữ hoa, chữ thường, số và kí tự
                đặc biệt</span
              >
            </tds-error>
          </tds-form-field>
        </div>
        <div class="grid grid-cols-3 gap-1 my-2">
          <tds-label>Nhập lại mật khẩu</tds-label>
          <tds-form-field class="col-span-2">
            <input
              [required]="true"
              tdsInput
              autocomplete="off"
              placeholder="Xác nhận mật khẩu"
              formControlName="confirmPassword"
              type="password"
            />
            <tds-error>
              <!-- <span *ngIf="createAccount.controls['confirmPassword'].touched"
                  >Vui lòng nhập mật khẩu</span
                > -->
              <span
                *ngIf="createAccount.get('confirmPassword')?.errors?.['mustMatch']"
                >Mật khẩu không khớp</span
              >
            </tds-error>
          </tds-form-field>
        </div>
      </div>      
    </div>
    <div>
      <!-- UserName -->
      <!-- <div class="grid grid-cols-3 gap-1 my-2">
        <tds-label>Nhân viên sử dụng</tds-label>
        <tds-form-field class="col-span-2">
          <tds-select
            valueField="id"
            textField="name"
            [data]="employeeOptions"
            formControlName="employee"
            allowClear="true"
          >
          </tds-select>
        </tds-form-field>
      </div> -->
    </div>
  </div>
  <!-- Kết thúc mã modal register -->
</form>

<ng-container *tdsModalFooter>
  <div class="p-4">
    <div class="w-full flex flex-col justify-center mt-8">
      <button
        class="w-full mt-4"
        size="lg"
        tds-button
        type="submit"
        (click)="submit()"
        form="registerAccount"
        style="background-color: #1b7c20"
      >
        Xác nhận
      </button>
    </div>
  </div>
</ng-container>
