<div class="h-full bg-slate-200">
  <div class="flex flex-col h-full">
    <div class="basis-2/4 mb-1 bg-white rounded-b-lg">
      <div class="m-2 flex justify-center w-full">
        <tds-range-picker
          [(ngModel)]="leftControl['Tháng này']"
          (ngModelChange)="onSelectionChange($event)"
        >
        </tds-range-picker>
      </div>
      <div class="p-2">
        <span class="font-bold text-heading-3">Biểu đồ doanh thu</span>
        <div class="h-full" echarts [options]="options" [size]="size"></div>
      </div>
    </div>
    <div class="basis-2/4 mt-1 bg-white rounded-t-lg">
      <div class="rounded-10">
        <span class="ml-2 py-4 font-bold text-heading-3"
          >Số liệu doanh thu</span
        >
        <tds-table #table [listData]="listOfData" tableLayout="fixed">
          <thead>
            <tr>
              <th width="60px"></th>
              <th>Ngày</th>
              <th>Doanh thu</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of table.data">
              <tr>
                <td
                  [expand]="expandSet.has(data.Date)"
                  (expandChange)="onExpandChange(data.Date, $event)"
                ></td>
                <td>{{ data.Date | date : 'dd/MM/YYYY' }}</td>
                <td>{{ data.TotalRevenue }}</td>
              </tr>
              <tr class="w-full" [expand]="expandSet.has(data.Date)">
                <frontend-revenue-statistics-detail [date]="data.Date" [branchId]="branchId"></frontend-revenue-statistics-detail>
              </tr>
            </ng-container>
          </tbody>
        </tds-table>
      </div>
    </div>
  </div>
</div>
