<div class="pl-4">
  <button
    tds-button
    (click)="showModal()"
    class="my-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition-colors duration-300"
  >
    <span>Create New Customer</span>
  </button>
  <tds-modal [footer] = "null"
    [size]="'lg'"
    [(visible)]="isVisible"
    title="Create New Customer"
    (onCancel)="handleCancel()"
  >
    <ng-container *tdsModalContent>
      <form class="py-4" signUp [formGroup]="form" autocomplete="off">
        <tds-label>First Name</tds-label>
        <tds-form-field class="mt-2">

          <input
            tdsInput
            autocomplete="off"
            placeholder="Christine"
            formControlName="firstName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>

        </tds-form-field>

        <tds-label>Last Name</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nguyen"
            formControlName="lastName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Email</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="abc@example.com"
            formControlName="email"
            type="email"
            class="appearance-none w-full"
          />

          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label>Phone Number</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="0123456789"
            class="appearance-none w-full"
            formControlName="phone"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label [tdsRequired]="true" tdsFor="DateOfBirth">Date of Birth</tds-label
        >
        <tds-form-field class="w-full">
          <input
            tdsInput
            autocomplete="off"
            type="date"
            class="appearance-none w-full"
            formControlName="dateOfBirth"
          />
          <tds-error>Please choose a date</tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Gender</tds-label>
        <tds-radio-group tdsName="radioValue">
          <label>
            <input  type="radio" name="gender" value="Male" formControlName="gender"/> Male
          </label>
          <label>
            <input  type="radio" name="gender" value="Female" formControlName="gender"/> Female
          </label>
        </tds-radio-group>

        <div class="justify-end flex mt-8">
          <button
            tds-button
            color="success"
            (click)="CreateNewCustomer()"
            class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition-colors duration-300"
          >
            Create
          </button>
          <button
            tds-button
            color="secondary"
            (click)="handleCancel()"
            class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 transition-colors duration-300 ml-4"
          >
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </tds-modal>
</div>
