<div class="pl-4">
  <div>
      <form class="py-4" [formGroup]="form" autocomplete="off">
        <tds-label>First Name</tds-label>
        <tds-form-field class="mt-2">

          <input
            tdsInput
            autocomplete="off"
            placeholder="Christine"
            formControlName="firstName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>

        </tds-form-field>

        <tds-label>Last Name</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="Nguyen"
            formControlName="lastName"
            class="appearance-none w-full"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Email</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="abc@example.com"
            formControlName="email"
            type="email"
            class="appearance-none w-full"
          />

          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label>Phone Number</tds-label>
        <tds-form-field class="mt-2">
          <input
            tdsInput
            autocomplete="off"
            placeholder="0123456789"
            class="appearance-none w-full"
            formControlName="phone"
          />
          <tds-error>
            Please enter your last namex
          </tds-error>
        </tds-form-field>

        <tds-label [tdsRequired]="true" tdsFor="DateOfBirth">Date of Birth</tds-label
        >
        <tds-form-field class="w-full">
          <input
            tdsInput
            autocomplete="off"
            type="date"
            class="appearance-none w-full"
            formControlName="dateOfBirth"
          />
          <tds-error>Please choose a date</tds-error>
        </tds-form-field>

        <tds-label class="pt-4">Gender</tds-label>
        <tds-radio-group tdsName="radioValue">
          <label>
            <input  type="radio" name="gender" value="Male" formControlName="gender"/> Male
          </label>
          <label>
            <input  type="radio" name="gender" value="Female" formControlName="gender"/> Female
          </label>
        </tds-radio-group>

        <div class="justify-end flex mt-8" *tdsModalFooter>
          <button
            tds-button
            color="success"
            (click)="submit()"
            class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition-colors duration-300"
          >
            submit
          </button>
          <button
            tds-button
            color="secondary"
            (click)="handleCancel()"
            class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 transition-colors duration-300 ml-4"
          >
            Cancel
          </button>
        </div>
      </form>
  </div>
</div>
