<div class="grid grid-cols-12 gap-2 bg-gray-200 h-full">
  <div class="col-span-3 border p-4 rounded-10 bg-white left-content">
    <span class="p-4 text-heading-2">Tiếp nhận tư vấn</span>
    <div class="overflow-y-auto mt-3" style="max-height: 570px">
      <!-- <tds-card *ngFor="let appoint of reception" class="border rounded-20 mb-2 hover:bg-neutral-200 cursor-pointer"
        (click)="renderCustomerDetail(appoint); onStatusChange($event, appoint.appointmentID)"> -->
      <tds-card *ngFor="let appoint of listSpaServiceQueue" class="border rounded-20 mb-2 hover:bg-neutral-200 cursor-pointer"
        (click)="renderCustomerDetail(appoint)">
        <!-- Card Header -->
        <tds-card-header *ngIf="appoint.status === 'Đang khám'" class="bg-green-success-200 text-white rounded-t-md">
          <div class="flex justify-between text-gray-700">
            <p tds-typography tdsEllipsis>
              {{ appoint.customer.lastName }} {{ appoint.customer.firstName }}
            </p>
            <tds-tag status="custom" class="bg-success-400 rounded-md">{{
              appoint.status
              }}</tds-tag>
          </div>
        </tds-card-header>
        <tds-card-header *ngIf="appoint.status === 'Chờ khám'" class="bg-warning-100 text-white rounded-t-md">
          <div class="flex justify-between text-gray-700">
            <p tds-typography tdsEllipsis>
              {{ appoint.customer.lastName }} {{ appoint.customer.firstName }}
            </p>
            <tds-tag status="custom" class="bg-warning-400 rounded-md">{{
              appoint.status
              }}</tds-tag>
          </div>
        </tds-card-header>
        <!-- Card content -->
        <tds-card-content class="px-3">
          <p>
            <i class="tdsi-earpiece-fill text-green-success-300"></i>
            {{ appoint.doctor }}
          </p>
          <div class="flex justify-between">
            <p>
              <i class="tdsi-time-fill text-green-success-300"></i>
              {{ appoint.appointmentDate | date : 'HH:mm' }}
            </p>
            <p>
              <i class="tdsi-call-fill text-green-success-300"></i>
              {{ appoint.customer.phone }}
            </p>
          </div>
        </tds-card-content>
        <hr />
      </tds-card>
    </div>


  </div>
  <!-- //////////bên phải /////////// -->
  <div class="col-span-9 border p-4 rounded-10 bg-white overflow-y-auto h-full"
    *ngIf="appointmentAllInfo !== null && checkActive === true; else elseBlock">
    <div class="flex flex-row">
      <!-- Left section with image -->
      <div class="w-1/4">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/d07bca98931623.5ee79b6a8fa55.jpg"
          alt="Customer Image" class="w-full rounded-lg" />
      </div>
      <!-- Right section with customer details -->
      <div class="w-3/4 ml-5 text-lg">
        <div class="font-medium mb-2">
          Họ và Tên:
          <span class="font-normal">{{
            appointmentAllInfo.customer.lastName +
            ' ' +
            appointmentAllInfo.customer.firstName
            }}</span>
        </div>
        <div class="font-medium mb-4">
          Ngày giờ vào:
          <span class="font-normal">{{
            appointmentAllInfo.appointmentDate | date : 'dd/MM/yyyy HH:mm'
            }}</span>
        </div>
        <div class="font-medium mb-4">
          Dịch vụ đã chọn:
          <span class="font-normal" *ngFor="let service of customerDetail; let first = first">
            {{ (first ? '' : ', ') + service.serviceName }}
          </span>
        </div>

        <div class="font-medium mb-4">
          Bác sĩ khám:
          <span class="font-normal">
            {{ appointmentAllInfo.doctor }}
          </span>
        </div>
        <div class="font-medium mb-4">
          Nhân viên phụ trách:
          <span class="font-normal">
            {{ appointmentAllInfo.teachnicalStaff }}
          </span>
        </div>

        <!-- Bottom section with file upload and buttons -->
        <div class="flex flex-row">
          <!-- Left side with file upload and upload button -->
          <div class="w-full">
            <div class="flex flex-row items-center">
              <input type="file" (change)="onFileSelected($event)" class="mr-2 mb-5" multiple />
              <button class="rounded-full bg-green-300 py-1 px-2"
                (click)="uploadImage(appointmentAllInfo.appointmentID)">
                Tải ảnh
              </button>
            </div>
          </div>
        </div>

        <!-- Right side with history button -->
        <!-- <div class="w-1/2">
          <button
            (click)="callModalHistory()"
            class="rounded-full bg-green-300 py-1 px-2"
          >
            History Customer
          </button>
        </div> -->
        <!-- <div class="container">
          <div id="time">
            <span class="digit">{{ hrString }}</span>
            <span class="txt">Hr</span>
            <span class="digit">{{ minString }}</span>
            <span class="txt">Min</span>
            <span class="digit">{{ secString }}</span>
            <span class="txt">Sec</span>
            <span class="digit">{{ countString }}</span>
          </div>
          <div id="buttons">
            <button class="btn" id="start" (click)="start()">Start</button>
            <button class="btn" id="stop" (click)="stop()">Stop</button>
            <button class="btn" id="reset" (click)="reset()">Reset</button>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Table section -->

    <!-- Footer buttons -->
  </div>
  <ng-template #elseBlock>
    <div class="col-span-9 flex flex-col justify-center items-center h-full">
      <tds-empty></tds-empty>
      <span class="text-sm font-bold">Vui lòng chọn khách hàng để chăm sóc!</span>
    </div>
  </ng-template>
</div>
