<div class="grid grid-cols-12 gap-2 bg-gray-200 h-full">
  <div class="col-span-3 border p-4 rounded-10 bg-white left-content">
    <tds-table
      class="table-vertical-line table-cus"
      [listData]="listSpaServiceQueue"
      [showPagination]="false"
    >
      <thead>
        <tr>
          <th>Họ Tên Khách Hàng</th>
          <th>Trạng Thái</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-template *ngFor="let data of listSpaServiceQueue"> -->
        <tr
          *ngFor="let data of listSpaServiceQueue"
          (click)="renderCustomerDetail(data)"
        >
          <td>{{ data.customer.lastName + ' ' + data.customer.firstName }}</td>
          <td>
            <select
              name="status"
              class="custom-select"
              (change)="onStatusChange($event, data.appointmentID)"
            >
              <option [selected]="data.status === 'Chờ chăm sóc'" value="Chờ chăm sóc">
                Chờ chăm sóc
              </option>
              <option [selected]="data.status === 'Đang chăm sóc'" value="Đang chăm sóc">
                Đang chăm sóc
              </option>
              <option
                [selected]="data.status === 'Hoàn thành'"
                value="Hoàn thành"
              >
                Hoàn thành
              </option>
            </select>
          </td>
        </tr>
        <!-- </ng-template> -->
      </tbody>
    </tds-table>
  </div>
  <!-- //////////bên phải /////////// -->
  <div
    class="col-span-9 border p-4 rounded-10 bg-white overflow-y-auto h-full"
    *ngIf="appointmentAllInfo !== null && checkActive === true; else elseBlock"
  >
    <div class="flex flex-row">
      <!-- Left section with image -->
      <div class="w-1/4">
        <img
          src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/d07bca98931623.5ee79b6a8fa55.jpg"
          alt="Customer Image"
          class="w-full rounded-lg"
        />
      </div>
      <!-- Right section with customer details -->
      <div class="w-3/4 ml-5 text-lg">
        <div class="font-medium mb-2">
          Họ và Tên:
          <span class="font-normal">{{
            appointmentAllInfo.customer.lastName +
              ' ' +
              appointmentAllInfo.customer.firstName
          }}</span>
        </div>
        <div class="font-medium mb-4">
          Ngày giờ vào:
          <span class="font-normal">{{
            appointmentAllInfo.appointmentDate | date : 'dd/MM/yyyy HH:mm'
          }}</span>
        </div>
        <div class="font-medium mb-4">
          Dịch vụ đã chọn:
          <span
            class="font-normal"
            *ngFor="let service of customerDetail; let first = first"
          >
            {{ (first ? '' : ', ') + service.serviceName }}
          </span>
        </div>

        <div class="font-medium mb-4">
          Bác sĩ khám:
          <span class="font-normal">
            {{ appointmentAllInfo.doctor }}
          </span>
        </div>
        <div class="font-medium mb-4">
          Nhân viên phụ trách:
          <span class="font-normal">
            {{ appointmentAllInfo.teachnicalStaff }}
          </span>
        </div>

        <!-- Bottom section with file upload and buttons -->
        <div class="flex flex-row">
          <!-- Left side with file upload and upload button -->
          <div class="w-full">
            <div class="flex flex-row items-center">
              <input
                type="file"
                (change)="onFileSelected($event)"
                class="mr-2 mb-5"
                multiple
              />
              <button
                class="rounded-full bg-green-300 py-1 px-2"
                (click)="uploadImage(appointmentAllInfo.appointmentID)"
              >
                Tải ảnh
              </button>
            </div>
          </div>
        </div>

        <!-- Right side with history button -->
        <div class="w-1/2">
          <button
            (click)="callModalHistory()"
            class="rounded-full bg-green-300 py-1 px-2"
          >
            History Customer
          </button>
        </div>
        <div class="container">
          <div id="time">
            <span class="digit">{{ hrString }}</span>
            <span class="txt">Hr</span>
            <span class="digit">{{ minString }}</span>
            <span class="txt">Min</span>
            <span class="digit">{{ secString }}</span>
            <span class="txt">Sec</span>
            <span class="digit">{{ countString }}</span>
          </div>
          <div id="buttons">
            <button class="btn" id="start" (click)="start()">Start</button>
            <button class="btn" id="stop" (click)="stop()">Stop</button>
            <button class="btn" id="reset" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Table section -->
    <table class="table-fixed border-collapse w-full mt-4">
      <thead>
        <tr>
          <th class="border border-gray-400 px-4 py-2">Service</th>
          <th class="border border-gray-400 px-4 py-2">Complete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of customerDetail">
          <td class="border border-gray-400 px-4 py-2 text-center">
            {{ service.serviceName }}
          </td>
          <td class="border border-gray-400 px-4 py-2 text-center">
            <input
              type="checkbox"
              [checked]="checkboxStatess[service.serviceID]"
              (change)="toggleCheckbox(service.serviceID)"
              class="form-checkbox h-5 w-5 text-green-500"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Footer buttons -->
    <div class="flex gap-4 justify-center mt-4">
      <button
        class="rounded-full bg-blue-500 text-white py-2 px-4 hover:bg-blue-600"
        (click)="onSave(appointmentAllInfo, checkboxStatess)"
      >
        Lưu
      </button>
      <button
        class="rounded-full bg-gray-300 text-gray-800 py-2 px-4 hover:bg-gray-400"
      >
        Hủy
      </button>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="col-span-9 flex flex-col justify-center items-center h-full">
      <tds-empty></tds-empty>
      <span class="text-sm font-bold">Vui lòng chọn khách hàng để chăm sóc!</span>
    </div>
  </ng-template>
</div>
