<div class="w-full gap-x-2 grid grid-cols-4 flex-wrap h-full bg-gray-200">
  <!-- Appointment List -->
  <div class="col-span-1 border p-4 rounded-10 bg-white">
    <div class="flex justify-between">
      <span class="text-heading-4">Today Booking</span>
      <!-- Button Create Appoinment -->
      <button tds-button-icon color="success" class="rounded-full p-2" (click)="createAppointment()" tds-tooltip
        tooltipTitle="New Appointment">
        <span class="flex items-center">
          <i class="tdsi-plus-fill"></i>
        </span>
      </button>
    </div>
    <!-- List -->
    <div *ngIf="todayBooking.length === 0" class="flex justify-center items-center" style="height: 550px">
      <tds-empty></tds-empty>
    </div>
    <div *ngIf="todayBooking.length !== 0" class="overflow-y-auto mt-3" style="max-height: 550px">
      <tds-card *ngFor="let appoint of todayBooking" class="border rounded-10 m-4">
        <tds-card-header class="bg-green-success-200 text-white">
          <div class="flex justify-between">
            <!-- Customer Name -->
            <p tds-typography tdsEllipsis>{{appoint.Customer.FirstName}} {{appoint.Customer.LastName}}</p>
            <!-- Status -->
            <div>
              <tds-tag *ngIf="appoint.Status === 'Scheduled'" status='custom' class="bg-success-400">Scheduled</tds-tag>
              <tds-tag *ngIf="appoint.Status === 'Cancelled'" status='custom' class="bg-red-500">Cancelled</tds-tag>
            </div>
          </div>
        </tds-card-header>
        <tds-card-content class="">
          <!-- Doctor Name -->
          <p *ngIf="appoint.Doctor === null"><i class="tdsi-earpiece-fill text-green-success-300"></i> ---</p>
          <p *ngIf="appoint.Doctor !== null"><i class="tdsi-earpiece-fill text-green-success-300"></i>
            {{appoint.Doctor}}</p>
          <!-- Date Booking & Customer Phone -->
          <div class="flex justify-between">
            <p><i class="tdsi-time-fill text-green-success-300"></i> {{appoint.AppointmentDate | date:'HH:mm'}}</p>
            <p><i class="tdsi-call-fill text-green-success-300"></i> {{appoint.Customer.Phone}}</p>
          </div>
        </tds-card-content>
        <hr />
        <tds-card-actions>
          <div class="flex justify-end">
            <!-- Edit Appointment Button -->
            <button tds-button-icon color="secondary" tds-tooltip tooltipTitle="Edit Appointment"
              (click)="onEditAppointment(appoint.AppointmentID)">
              <i class="tdsi-edit-fill"></i>
            </button>
            <!-- Receive Button -->
            <button tds-button-icon color="secondary" tds-tooltip tooltipTitle="Switch To Reception"
              (click)="chooseDoctor(appoint.AppointmentID, 'Chờ khám')" class="ml-3">
              <i class="tdsi-receive-fill"></i>
            </button>
          </div>
        </tds-card-actions>
      </tds-card>
    </div>
  </div>

  <div class="col-span-3 gap-y-2 grid grid-rows-2 flex-wrap">
    <!-- Reception -->
    <div class="row-span-1 p-4 border rounded-10 bg-white">
      <span class="text-heading-4">Reception</span>
      <div *ngIf="reception.length === 0" class="h-60 flex justify-center items-center">
        <tds-empty></tds-empty>
      </div>
      <div *ngIf="reception.length !== 0" class="gap-x-2 grid grid-cols-4 flex-wrap overflow-y-auto mt-3"
        style="max-height: 225px">
        <tds-card *ngFor="let appoint of reception" class="border rounded-10 col-span-1 mb-2">
          <!-- Card Header -->
          <tds-card-header class="bg-green-success-200 text-white">
            <p tds-typography tdsEllipsis>{{appoint.Customer.FirstName}} {{appoint.Customer.LastName}}</p>
          </tds-card-header>
          <!-- Card content -->
          <tds-card-content>
            <div class="flex justify-between">
              <div>
                <p *ngIf="appoint.Doctor === null"><i class="tdsi-earpiece-fill text-green-success-300"></i> ---</p>
                <p *ngIf="appoint.Doctor !== null"><i class="tdsi-earpiece-fill text-green-success-300"></i>
                  {{appoint.Doctor}}</p>
                <p><i class="tdsi-time-fill text-green-success-300"></i> {{appoint.AppointmentDate | date:'HH:mm'}}</p>
              </div>
              <div class="flex justify-center items-center">
                <tds-tag status='custom' class="bg-success-400">{{appoint.Status}}</tds-tag>
              </div>
            </div>
          </tds-card-content>
        </tds-card>
      </div>
    </div>

    <!-- In ssesion -->
    <div class="row-span-1 border p-4 rounded-10 bg-white">
      <span class="text-heading-4">In Session</span>
      <div *ngIf="inSession.length === 0" class="h-60 flex justify-center items-center">
        <tds-empty></tds-empty>
      </div>
      <div *ngIf="inSession.length !== 0" class="gap-x-2 grid grid-cols-4 flex-wrap overflow-y-auto mt-3"
        style="max-height: 225px">
        <tds-card *ngFor="let appoint of inSession" class="border rounded-10 col-span-1 mb-2">
          <!-- Card Header -->
          <tds-card-header class="bg-green-success-200 text-white ">
            <div class="flex justify-between">
              <p tds-typography tdsEllipsis>{{appoint.Customer.FirstName}} {{appoint.Customer.LastName}}</p>
              <div>
                <tds-tag *ngIf="appoint.Status === 'Preparation'" status='custom'
                  class="bg-info-400">Preparation</tds-tag>
                <tds-tag status='custom' class="bg-success-400">{{appoint.Status}}</tds-tag>
              </div>
            </div>
          </tds-card-header>
          <div class="grid grid-cols-3 flex-wrap">
            <!-- Card content -->
            <tds-card-content class="col-span-2">
              <p *ngIf="appoint.SpaTherapist === null"><i class="tdsi-earpiece-fill text-green-success-300"></i> ---</p>
              <p *ngIf="appoint.SpaTherapist !== null"><i class="tdsi-earpiece-fill text-green-success-300"></i>
                {{appoint.SpaTherapist}}</p>
              <p><i class="tdsi-time-fill text-green-success-300"></i> {{appoint.AppointmentDate | date:'HH:mm'}}
              </p>
            </tds-card-content>
            <!-- Card button -->
            <tds-card-actions class="col-span-1">
              <div class="flex justify-end">
                <button tds-button-icon color="secondary" tds-tooltip tooltipTitle="Edit Appointment"
                  (click)="onEditInSession(appoint.AppointmentID)">
                  <i class="tdsi-edit-fill"></i>
                </button>
              </div>
            </tds-card-actions>
          </div>
          <hr>
          <tds-card-actions class="col-span-1">
            <div class="flex justify-center">
              <button tds-button color="success" (click)="onEditPayment(appoint.AppointmentID)">
                Check Out
              </button>
            </div>
          </tds-card-actions>
        </tds-card>
      </div>
    </div>
  </div>
</div>
