<div class="flex flex-col items-center space-y-4" id="idInvoice">
  <img class="w-24 h-24 mt-4" src="./assets/img/default.svg" alt="Logo">
  <h2 class="text-xl font-bold">Hà Nội</h2>
  <span class="text-center">
    111 Le Loi, Phường Đức Thắng, Quận Từ Bắc Liêm, Thành phố Hà Nội
  </span>
  <span class="text-center">0123456789</span>
</div>

<div class="flex flex-col items-center mt-8">
  <span class="text-lg font-bold mb-4">Biên lai thanh toán</span>
  <div class="items-center flex flex-col w-full max-w-4xl">
    <div class="flex w-[50%]">
      <div class="items-start w-[250px]  py-1 text-left text-gray-500 tracking-wider">Ngày thanh toán</div>
      <div class="items-start  py-1  text-left whitespace-nowrap">02/07/2024</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start   py-1 text-left text-gray-500 tracking-wider">Nhân viên</div>
      <div class=" py-1 items-start  text-left whitespace-nowrap">Đặng Thế Tài</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Khách hàng</div>
      <div class=" py-1 items-start  text-left whitespace-nowrap">Nguyên Cao</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Điện thoại</div>
      <div class=" py-1 items-start text-left whitespace-nowrap">1234455412</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Địa chỉ</div>
      <div class=" py-1 items-start text-left whitespace-nowrap"></div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Số tiền</div>
      <div class=" py-1 items-start text-left whitespace-nowrap">100.000</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Bằng chữ</div>
      <div class=" py-1 items-start text-left">Một trăm nghìn đồng</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Phương thức thanh
        toán</div>
      <div class="  py-1 items-start text-left whitespace-nowrap">Tiền mặt</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Dịch vụ thanh toán
      </div>
      <div class=" py-1 items-start text-left whitespace-nowrap">111</div>
    </div>
    <div class="flex w-[50%]">
      <div class="w-[250px] items-start  py-1 text-left text-gray-500 tracking-wider">Nội dung thanh toán
      </div>
      <div class=" py-1 items-start text-left whitespace-nowrap">SO932939293</div>
    </div>
  </div>

  <ng-container *tdsModalFooter>
    <button tds-button form="idInvoice">In hóa đơn</button>
  </ng-container>
