<div class=" flex flex-col h-full">

  <div class="flex justify-end">
    <button tds-button-icon (click)="createCustomer()" class="m-4 p-2 rounded-full" color="success" tds-tooltip
      tooltipTitle="New Customer">
      <span class="flex items-center">
        <i class="tdsi-plus-fill"></i>
      </span>
    </button>
  </div>

  <tds-data-table class="p-2" [tdsData]="CustomerList" [tdsShowSizeChanger]="true" [tdsPageSize]="20"
    [tdsBordered]="true">

    <tds-data-table-expand-row [tdsContent]="expandTpl" tdsWidth="2%">
      <ng-template #expandTpl let-dataRow let-expand="expand">
        <tds-timeline>
          <tds-timeline-item>Create a services site 2015-09-01</tds-timeline-item>
          <tds-timeline-item>Solve initial network problems 2015-09-01</tds-timeline-item>
          <tds-timeline-item>Technical testing 2015-09-01</tds-timeline-item>
          <tds-timeline-item>Network problems being solved 2015-09-01</tds-timeline-item>
        </tds-timeline>
      </ng-template>
    </tds-data-table-expand-row>

    <tds-data-table-column [tdsField]="'customerCode'" [tdsTitle]="'ID'" tdsWidth="8%"
      [tdsDataType]="'text'"></tds-data-table-column>

    <tds-data-table-column [tdsField]="'firstName'" [tdsTitle]="'First Name'" tdsWidth="20%"
      [tdsDataType]="'text'"></tds-data-table-column>

    <tds-data-table-column [tdsField]="'lastName'" [tdsTitle]="'Last Name'" tdsWidth="20%"
      [tdsDataType]="'text'"></tds-data-table-column>

    <tds-data-table-column [tdsField]="'gender'" [tdsTitle]="'Gender'" tdsWidth="10%"
      [tdsDataType]="'text'"></tds-data-table-column>

    <tds-data-table-column [tdsField]="'dateOfBirth'" [tdsTitle]="'Date of Birth'" tdsWidth="9%" [tdsDataType]="'date'"
      [tdsFormat]="'dd/mm/yyyy'"></tds-data-table-column>

    <tds-data-table-column [tdsContent]="commandTpl" tdsWidth="7%" [tdsColumnType]="'command'"
      tdsClass="flex justify-around">
      <ng-template #commandTpl let-dataRow>
        <button tds-button-flat-icon color="custom" class="text-slate-500 hover:text-secondary-1" (click)="onEditCustomer(dataRow.customerID)">
          <i class="tdsi-edit-fill"></i>
        </button>
        <button tds-button-flat-icon color="custom" class="text-slate-500 hover:text-red-500" (click)="deleteCustomer(dataRow.customerID)">
          <i class="tdsi-trash-fill"></i>
        </button>
      </ng-template>
    </tds-data-table-column>

  </tds-data-table>

</div>
