<frontend-create-customer></frontend-create-customer>

<div [style.width.%]="100" class="flex h-full overflow-x-auto">
  <tds-data-table
    [tdsData]="CustomerList"
    [tdsShowSizeChanger]="true"
    [tdsPageSize]="20"
    [tdsBordered]="true"
  >
    <tds-data-table-expand-row [tdsContent]="expandTpl">
      <ng-template #expandTpl let-dataRow let-expand="expand">
        <div class="w-full p-2">
          <tds-data-table-checkbox-column></tds-data-table-checkbox-column>
        </div>
      </ng-template>
    </tds-data-table-expand-row>

    <tds-data-table-checkbox-column></tds-data-table-checkbox-column>

    <tds-data-table-column
      [tdsField]="'customerCode'"
      [tdsTitle]="'Code'"
      tdsWidth="120px"
      [tdsDataType]="'text'"
      [tdsLeft]="true"
    ></tds-data-table-column>

    <tds-data-table-column-group [tdsTitle]="'Full Name'" [tdsLeft]="true">
      <tds-data-table-column
        [tdsField]="'firstName'"
        [tdsTitle]="'First Name'"
        tdsWidth="125px"
        [tdsDataType]="'text'"
      ></tds-data-table-column>

      <tds-data-table-column
        [tdsField]="'lastName'"
        [tdsTitle]="'Last Name'"
        tdsWidth="125px"
        [tdsDataType]="'text'"
      ></tds-data-table-column>
    </tds-data-table-column-group>

    <tds-data-table-column
      [tdsField]="'gender'"
      [tdsTitle]="'Gender'"
      tdsWidth="150px"
      [tdsDataType]="'text'"
    ></tds-data-table-column>

    <tds-data-table-column
      [tdsField]="'phone'"
      [tdsTitle]="'Phone Number'"
      tdsWidth="200px"
      [tdsDataType]="'text'"
    ></tds-data-table-column>

    <tds-data-table-column
      [tdsField]="'email'"
      [tdsTitle]="'Email'"
      tdsWidth="200px"
      [tdsDataType]="'text'"
    ></tds-data-table-column>

    <tds-data-table-column
      [tdsField]="'dateOfBirth'"
      [tdsTitle]="'Date of Birth'"
      tdsWidth="150px"
      [tdsDataType]="'date'"
      [tdsFormat]="'dd/MM/yyyy'"
      [tdsRight]="true"
    ></tds-data-table-column>

    <tds-data-table-column
      [tdsField]="'customerTypeID'"
      [tdsTitle]="'Customer Type ID'"
      tdsWidth="150px"
      [tdsDataType]="'numeric'"
      [tdsLeft]="true"
    ></tds-data-table-column>

    <tds-data-table-column
      [tdsContent]="commandTpl"
      tdsWidth="110px"
      [tdsColumnType]="'command'"
      [tdsRight]="true"
    >
      <ng-template #commandTpl let-dataRow>
        <button tds-button-flat-icon size="sm" class="mr-4" color="primary">
          <i class="tdsi-edit-fill"></i>
        </button>
        <button tds-button-flat-icon size="sm" class="mr-4" color="primary">
          <i class="tdsi-trash-fill"></i>
        </button>
      </ng-template>
    </tds-data-table-column>
  </tds-data-table>
</div>
