<div class="grid grid-rows-5 h-full">
  <div class="bg-gray-50 p-4 rounded-md row-span-2">
    <div class="flex justify-between">
      <h2 class="text-xl font-semibold mb-2">Tổng Sổ Quỹ</h2>
      <button (click)="TaoPhieuThuChi()">Tạo Phiếu Thu/Chi</button>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="bg-white p-4 rounded-md shadow-md">
        <h3 class="text-lg font-medium">Tổng Quỹ Tiền Mặt</h3>
        <p class="text-2xl font-bold text-green-600" id="total-cash">
          {{ cash }}
        </p>
      </div>
      <div class="bg-white p-4 rounded-md shadow-md">
        <h3 class="text-lg font-medium">Tổng Quỹ Ngân Hàng</h3>
        <p class="text-2xl font-bold text-blue-600" id="total-bank">
          {{ bank }}
        </p>
      </div>
    </div>
  </div>
  <tds-table
    #basicTable
    [listData]="listThuChi"
    class="row-span-3 h-full"
    [scroll]="{ y: '300px' }"
    [total]="total"
  >
    <thead>
      <tr>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Mã Thu Chi
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Ngày tạo phiếu
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Nội dung
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Loại
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Đối tác
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Phương thức trả
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Số tiền
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ data.incomeExpensesCode }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ data.date | date : 'dd/MM/YYYY hh:mm' }}
          </td>
          <td>{{ data.description }}</td>
          <td>{{ data.typeOfIncome }}</td>
          <td>{{ data.partnerName }}</td>
          <td>{{ data.payMethod }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ formatCurrency(data.amount) }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </tds-table>
</div>
