<div class="pl-4">
  <div centered (onCancel)="handleCancel()">
    <div>
      <h2 class="text-base-red-500">You want to this service</h2>
    </div>
  </div>
  <ng-container *tdsModalFooter>
    <div class="p-4">
      <div class="w-full flex justify-end">
        <button class="w-[100px] mt-4 bg-red-600 mr-2" size="lg" tds-button type="submit" form="formService" (click)="btnDeleteService()">Delete
        </button>
        <button class="w-[100px] mt-4 bg-white" size="lg" tds-button type="submit" form="formService" (click)="handleCancel()">Cancel
        </button>
      </div>
    </div>
  </ng-container>
</div>
