<div class="mb-6">
  <h2 class="text-xl font-semibold mb-2">Thêm Chi Tiêu</h2>
  <form [formGroup]="taoPhieuThu" action="#" method="POST" class="space-y-4">
    <div>
      <label for="description" class="block text-sm font-medium text-gray-700"
        >Mô Tả</label
      >
      <input
        formControlName="Description"
        type="text"
        id="description"
        name="description"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
        placeholder="Nhập mô tả"
      />
    </div>
    <div>
      <label for="amount" class="block text-sm font-medium text-gray-700"
        >Số Tiền</label
      >
      <input
        formControlName="Amount"
        type="number"
        id="amount"
        name="amount"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
        placeholder="Nhập số tiền"
      />
    </div>
    <div>
      <label for="type" class="block text-sm font-medium text-gray-700"
        >Loại</label
      >
      <select id="type" formControlName="TypeOfIncome">
        <option value="Thu">Thu</option>
        <option value="Chi">Chi</option>
      </select>
    </div>
    <button
      type="submit"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      (click)="onSubmit()"
    >
      Thêm
    </button>
    <pre>{{ taoPhieuThu.value | json }}</pre>
  </form>
</div>
