<div class="mb-6">
  <form [formGroup]="taoPhieuThu" action="#" method="POST" class="space-y-4">
    <div>
      <label for="description" class="block text-sm font-medium text-gray-700"
        >Mô Tả</label
      >
      <input
        formControlName="Description"
        type="text"
        id="description"
        name="description"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
        placeholder="Nhập mô tả"
      />
    </div>
    <div>
      <label for="amount" class="block text-sm font-medium text-gray-700"
        >Số Tiền</label
      >
      <input
        formControlName="Amount"
        type="number"
        id="amount"
        name="amount"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 sm:text-sm"
        placeholder="Nhập số tiền"
      />
    </div>
    <div class="flex space-x-6 items-center">
      <div>
        <label for="type" class="block text-sm font-medium text-gray-700"
          >Loại</label
        >
        <select
          id="type"
          formControlName="TypeOfIncome"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        >
          <option value="Thu">Thu</option>
          <option value="Chi">Chi</option>
        </select>
      </div>
      <div>
        <label for="method" class="block text-sm font-medium text-gray-700"
          >Phương thức thu/trả</label
        >
        <select
          id="method"
          formControlName="PayMethod"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        >
          <option value="Tiền mặt">Tiền mặt</option>
          <option value="Chuyển khoản">Chuyển khoản</option>
        </select>
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      (click)="onSubmit()"
    >
      Thêm
    </button>
    <pre>{{ taoPhieuThu.value | json }}</pre>
  </form>
</div>
