  <div class="flex h-screen w-screen">
    <frontend-menu></frontend-menu>
    <div class="flex-1 w-full">
      <div class="ml-2 rounded-b-lg">
        <frontend-header></frontend-header>
      </div>
      <tds-layout-content class= "h-full bg-white my-1 ml-2 rounded-lg">
        <router-outlet></router-outlet>
      </tds-layout-content>
      <!-- <tds-layout-footer class="bg-white ml-2 rounded-t-lg">
          <frontend-pagination></frontend-pagination>
        </tds-layout-footer> -->
    </div>
  </div>
