<div class="flex flex-col h-full">

  <div class="flex justify-end">
    <button tds-button-icon (click)="showCreateModal()" class="m-4 p-2 rounded-full" color="success" tds-tooltip
      tooltipTitle="Thêm dịch vụ mới">
      <span class="flex items-center">
        <i class="tdsi-plus-fill"></i>
      </span>
    </button>
  </div>

  <div [style.width.%]="100" class="flex h-screen overflow-x-auto items-center ">
    <tds-data-table [tdsData]="ServiceList" [tdsShowSizeChanger]="true" [tdsPageSize]="10">
      <tds-data-table-column [tdsField]="'serviceCode'" [tdsTitle]="'Mã số'" tdsWidth="10%" [tdsLeft]="true">
      </tds-data-table-column>

      <tds-data-table-column [tdsField]="'serviceName'" [tdsTitle]="'Tên'" [tdsDataType]="'text'" tdsWidth="20%">
      </tds-data-table-column>

      <tds-data-table-column [tdsField]="'price'" [tdsTitle]="'Giá'" tdsWidth="20%" [tdsDataType]="'numeric'"
        [tdsFormat]="{ thousandSeparator: '.' }">
      </tds-data-table-column>
      <tds-data-table-column [tdsField]="'description'" [tdsTitle]="'Mô tả'" [tdsDataType]="'text'" tdsWidth="40%">
      </tds-data-table-column>

      <tds-data-table-column [tdsContent]="commandTpl" tdsWidth="10%" [tdsColumnType]="'command'">
        <ng-template #commandTpl let-dataRow>
          <div class="flex justify-around">
            <button tds-tooltip="Chỉnh sửa" tds-button-flat-icon color="custom" class="text-slate-500 hover:text-secondary-1"
              (click)="showEditModal(dataRow.serviceID)">
              <i class="tdsi-edit-fill"></i>
            </button>
            <button tds-tooltip="Xóa" tds-button-flat-icon color="custom" class="text-slate-500 hover:text-red-500"
              (click)="showDeleteModal(dataRow.serviceID)">
              <i class="tdsi-trash-fill"></i>
            </button>
          </div>
        </ng-template>
      </tds-data-table-column>
    </tds-data-table>
  </div>
</div>
